In [4]:
import pandas as pd
from skrub import selectors as s
from gyyre import *

df = pd.DataFrame({
    "height_mm": [297.0, 420.0],
    "width_mm": [210.0, 297.0],
    "kind": ["A4", "A3"],
    "ID": [4, 3],
})

skrub_df = skrub.var("some_df"df

   height_mm  width_mm kind  ID
0      297.0     210.0   A4   4
1      420.0     297.0   A3   3

In [2]:
s.select(df, sem_select("Columns whose values are measured in millimeters"))

	> Querying 'openai/gpt-4.1' with 2 messages...'
	> Querying 'openai/gpt-4.1' with 2 messages...'
	> Querying 'openai/gpt-4.1' with 2 messages...'
	> Querying 'openai/gpt-4.1' with 2 messages...'

   height_mm  width_mm
0      297.0     210.0
1      420.0     297.0

In [3]:
s.select(df, sem_select("Columns whose values indicate paper sizes according to European norms"))

	> Querying 'openai/gpt-4.1' with 2 messages...'
	> Querying 'openai/gpt-4.1' with 2 messages...'
	> Querying 'openai/gpt-4.1' with 2 messages...'
	> Querying 'openai/gpt-4.1' with 2 messages...'

   height_mm  width_mm kind
0      297.0     210.0   A4
1      420.0     297.0   A3